html, body {
    /* The universe takes up all available space */
     
    position:relative; 
  
    width: 100%;
    height: 100%;
    
    /* The universe is black */
    background-color: black;
    z-index:5;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
  
    z-index:5;
}

#mercury {
    /* Style your earth */
    position: absolute;
    top: 21px;
    left: 50%;

    height: 10px;
    width: 10px;
    margin-left: -25px;
    margin-top: -25px;
  z-index:5;
}

#mercury-orbit {
    /* For Section #2 */

    position: absolute;
    top: 72%;
    left: 60.5%;

    width: 200px;
    height: 200px;
    margin-top: -250px;
    margin-left: -250px;

}


#venus {
    /* Style your earth */
    position: absolute;
    top: 22px;
    left: 50%;

    height: 8px;
    width: 10px;
    margin-left: -25px;
    margin-top: -25px;
  z-index:5;
}

#venus-orbit {
    /* For Section #2 */

    position: absolute;
    top: 70%;
    left: 59.4%;

    width: 230px;
    height: 230px;
    margin-top: -250px;
    margin-left: -250px;

}

#earth {
    /* Style your earth */
    position: absolute;
    top: 10px;
    left: 50%;

    height: 30px;
    width: 30px;
    margin-left: -25px;
    margin-top: -25px;
    z-index:5;
}

#earth-orbit {
    /* For Section #2 */

    position: absolute;
    top: 67%;
    left: 58%;

    width: 270px;
    height: 270px;
    margin-top: -250px;
    margin-left: -250px;
}

#mars {
    position: absolute;
    top: 35px;
    left: 80%;

    height: 25px;
    width: 25px;
    margin-left: -25px;
    margin-top: -25px;
    z-index:5;
}

#mars-orbit {
    /* For Section #2 */

    position: absolute;
    top: 63.3%;
    left: 56.2%;


    width: 320px;
    height: 320px;
    margin-top: -250px;
    margin-left: -250px;
  
} 

#jupiter {
    position: absolute;
    top: 46px;
    left: 80%;

    height: 60px;
    width: 60px;
    margin-left: -25px;
    margin-top: -25px;
    z-index:5;
}

#jupiter-orbit {
    /* For Section #2 */

    position: absolute;
    top: 54.5%;
    left: 52.5%;


    width: 430px;
    height: 430px;
    margin-top: -250px;
    margin-left: -250px;
  
} 

#saturn {
    position: absolute;
    top: 61px;
    left: 80%;

    height: 30px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    z-index:5;
}

#saturn-orbit {
    /* For Section #2 */

    position: absolute;
    top: 47.5%;
    left: 49.4%;


    width: 520px;
    height: 520px;
    margin-top: -250px;
    margin-left: -250px;
  
} 

#uranus {
    position: absolute;
    top: 61px;
    left: 80%;

    height: 20px;
    width: 20px;
    margin-left: -25px;
    margin-top: -25px;
    z-index:5;
}

#uranus-orbit {
    /* For Section #2 */

    position: absolute;
    top: 42.6%;
    left: 46.6%;

    width: 600px;
    height: 600px;
    margin-top: -250px;
    margin-left: -250px;
  
} 

#neptune {
    position: absolute;
    top: 71px;
    left: 79%;

    height: 30px;
    width: 30px;
    margin-left: -25px;
    margin-top: -25px;
    z-index:5;
}

#neptune-orbit {
    /* For Section #2 */

    position: absolute;
    top: 36.5%;
    left: 43.3%;


    width: 700px;
    height: 700px;
    margin-top: -250px;
    margin-left: -250px;
  
} 

#pluto {
    position: absolute;
    top: 81px;
    left: 80%;

    height: 25px;
    width: 25px;
    margin-left: -25px;
    margin-top: -25px;
    z-index:5;
}

#pluto-orbit {
    /* For Section #2 */

    position: absolute;
    top: 31%;
    left: 40.3%;

    width: 800px;
    height: 800px;
    margin-top: -250px;
    margin-left: -250px;
} 

.control {
    border: 3px solid white;
/*  white  */
    border-radius: 50%;
  }

.animate
{
     -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;

}
@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
} 

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#header
{
  font-size: 20px;
  background-color: white;
    font-weight: bold;
  width:300px;
}

#popup #header 
{
/*   color: white; */
  text-align: center;
/*   margin-left:30px; */
}

#content
{
  font-size: 20px;
 font-weight: bold;
  background-color: white;
  width:300px;
  height: auto;
  z-index:-1;
}

#content p
{
  text-align:center;
  padding: 2px;
}

#popup
{
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

a
{
  color:white;
}
a:hover
{
  color:orange;
}